<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Oracle Db integration tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
